In [4]:
import pandas as pd

# Sample dataset
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda', 'Jake'],
    'Age': [25, 35, None, 28, 40],
    'Gender': ['M', 'F', 'M', 'F', 'M'],
    'Income': [50000, 60000, 70000, None, 55000]
}
print(data)
# Create a DataFrame
df = pd.DataFrame(data)
df
# # Data Cleaning: Handling Missing Values
df['Age'].fillna(df['Age'].mean(), inplace=True)  # Fill missing Age values with mean
df
df['Income'].fillna(df['Income'].median(), inplace=True)  # Fill missing Income values with median
df
# # Data Transformation: Convert categorical Gender variable to numerical
df['Gender'] = df['Gender'].map({'M': 0, 'F': 1})
df

{'Name': ['John', 'Anna', 'Peter', 'Linda', 'Jake'], 'Age': [25, 35, None, 28, 40], 'Gender': ['M', 'F', 'M', 'F', 'M'], 'Income': [50000, 60000, 70000, None, 55000]}

    Name   Age  Gender   Income
0   John  25.0       0  50000.0
1   Anna  35.0       1  60000.0
2  Peter  32.0       0  70000.0
3  Linda  28.0       1  57500.0
4   Jake  40.0       0  55000.0

In [6]:
from sklearn.preprocessing import LabelEncoder

# Sample dataset
data = {
    'Gender': ['Male', 'Female', 'Female', 'Male', 'Male']
}

# Create a DataFrame
df = pd.DataFrame(data)

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Label encode the 'Gender' column
df['Gender_LabelEncoded'] = label_encoder.fit_transform(df['Gender'])

# Display original and label encoded data
print("Original Data:")
print(df['Gender'])

print("\nLabel Encoded Data:")
print(df['Gender_LabelEncoded'])

Original Data:
0      Male
1    Female
2    Female
3      Male
4      Male
Name: Gender, dtype: object

Label Encoded Data:
0    1
1    0
2    0
3    1
4    1
Name: Gender_LabelEncoded, dtype: int32