In [9]:
import pandas as pd
df=pd.DataFrame({'col1':[1,2,3,1],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     1   444  xyz

In [ ]:
df['col2'].unique()

In [12]:
df['col1'].unique()

array([1, 2, 3], dtype=int64)

In [13]:
df['col2'].nunique()

3

In [14]:
df['col2'].value_counts

<bound method IndexOpsMixin.value_counts of 0    444
1    555
2    666
3    444
Name: col2, dtype: int64>

In [20]:
newdf = df[(df['col1']>2) & (df['col2']==444)]
newdf

Empty DataFrame
Columns: [col1, col2, col3]
Index: []

In [21]:
newdf = df[(df['col1']>2) & (df['col2']==444)]
newdf

Empty DataFrame
Columns: [col1, col2, col3]
Index: []

In [24]:
def times2(x):
    return x*2
df['col2']=df['col2'].apply(times2)
df['col2']

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

In [25]:
newdf

Empty DataFrame
Columns: [col1, col2, col3]
Index: []

In [26]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [27]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [28]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [29]:
df.sort_values(by='col2')

   col1  col2 col3
0     1   888  abc
3     1   888  xyz
1     2  1110  def
2     3  1332  ghi