In [15]:
import pandas as pd
data={
    'CO2':[95,90,99,104,105,94,99,104],
    'model':['Citigo','Fabia','Fiesta','Rapid','Focus','Mondeo','Octavia','B-max'],
    'car':['Skoda','Skoda','Ford','Skoda','Ford','Ford','Skoda','Ford']
}
df=pd.DataFrame(data)
numeric_cols=df.select_dtypes(include='number')
result=numeric_cols.groupby(df(["car"]).mean())
result

TypeError: 'DataFrame' object is not callable

In [16]:
import pandas as pd

data = {
    'CO2': [95, 90, 99, 104, 105, 94, 99, 104],
    'model': ['Citigo', 'Fabia', 'Fiesta', 'Rapid', 'Focus', 'Mondeo', 'Octavia', 'B-max'],
    'car': ['Skoda', 'Skoda', 'Ford', 'Skoda', 'Ford', 'Ford', 'Skoda', 'Ford']
}
df = pd.DataFrame(data)
numeric_cols = df.select_dtypes(include='number')
result = numeric_cols.groupby(df["car"]).mean()

print(result)

         CO2
car
Ford   100.5
Skoda   97.0

In [19]:
data={
    'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
    'Person':['Sam','Charlie','Ansu','Vanessa','Carl','Sarah'],
    'Sales':[200,100,340,124,243,350]
    
}
df=pd.DataFrame(data)
total_sales=df.groupby('Company')['Sales'].sum()
print("total sales by company")
total_sales

total sales by company

Company
FB      593
GOOG    300
MSFT    464
Name: Sales, dtype: int64

In [21]:
high_salespeople=df[df['Sales']>200]
print("salespeople with sales>200:")
high_salespeople

salespeople with sales>200:

  Company Person  Sales
2    MSFT   Ansu    340
4      FB   Carl    243
5      FB  Sarah    350

In [24]:
sorted_df = df.sort_values(by='Sales', ascending=False)
print("Sorted DataFrame by Sales:")
print(sorted_df)

Sorted DataFrame by Sales:
  Company   Person  Sales
5      FB    Sarah    350
2    MSFT     Ansu    340
4      FB     Carl    243
0    GOOG      Sam    200
3    MSFT  Vanessa    124
1    GOOG  Charlie    100