In [1]:
import pandas as pd
file_path="C:/Users/DELL/Downloads/Student Mental health.csv"
data=pd.read_csv(file_path)
data

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
96,13/07/2020 19:56:49,Female,21.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
97,13/07/2020 21:21:42,Male,18.0,Engineering,Year 2,3.00 - 3.49,No,Yes,Yes,No,No
98,13/07/2020 21:22:56,Female,19.0,Nursing,Year 3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,13/07/2020 21:23:57,Female,23.0,Pendidikan Islam,year 4,3.50 - 4.00,No,No,No,No,No
100,18/07/2020 20:16:21,Male,20.0,Biomedical science,Year 2,3.00 - 3.49,No,No,No,No,No

In [4]:
selected_columns=data[['Age','Marital status','What is your CGPA?']]
selected_columns

      Age Marital status What is your CGPA?
0    18.0             No        3.00 - 3.49
1    21.0             No        3.00 - 3.49
2    19.0             No        3.00 - 3.49
3    22.0            Yes        3.00 - 3.49
4    23.0             No        3.00 - 3.49
..    ...            ...                ...
96   21.0             No        3.50 - 4.00
97   18.0             No        3.00 - 3.49
98   19.0            Yes        3.50 - 4.00
99   23.0             No        3.50 - 4.00
100  20.0             No        3.00 - 3.49

[101 rows x 3 columns]

In [5]:
filtered_data=data[data['Age']>20]
filtered_data

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No
6,8/7/2020 12:32,Female,23.0,Pendidikan islam,year 2,3.50 - 4.00,Yes,Yes,No,Yes,No
11,8/7/2020 12:39,Female,24.0,Engineering,Year 3,3.50 - 4.00,Yes,Yes,No,No,No
15,8/7/2020 12:43,Male,24.0,BCS,Year 3,3.50 - 4.00,No,No,No,No,No
16,8/7/2020 12:46,Female,24.0,Accounting,year 3,3.00 - 3.49,No,No,No,No,No
17,8/7/2020 12:52,Female,24.0,ENM,year 4,3.00 - 3.49,Yes,Yes,Yes,Yes,No
22,8/7/2020 13:13,Female,24.0,BCS,year 1,3.50 - 4.00,No,No,No,No,No
23,8/7/2020 13:15,Female,24.0,Engineering,year 1,3.00 - 3.49,No,No,No,No,No
24,8/7/2020 13:17,Female,23.0,BCS,Year 3,3.50 - 4.00,No,Yes,Yes,Yes,No
28,8/7/2020 13:58,Female,24.0,BIT,Year 3,3.50 - 4.00,Yes,Yes,Yes,Yes,Yes
29,8/7/2020 14:05,Female,24.0,BCS,year 4,3.50 - 4.00,No,No,No,No,No
30,8/7/2020 14:27,Female,23.0,Business Administration,Year 2,3.00 - 3.49,No,No,No,No,No
39,8/7/2020 14:56,Female,24.0,Engineering,Year 2,2.50 - 2.99,Yes,Yes,No,Yes,Yes
40,8/7/2020 14:57,Female,24.0,BIT,Year 3,3.00 - 3.49,No,No,Yes,No,No
41,8/7/2020 14:57,Female,22.0,Engineering,year 4,3.50 - 4.00,No,No,No,No,No
44,8/7/2020 15:08,Male,23.0,TAASL,year 2,3.50 - 4.00,No,No,No,Yes,No
48,8/7/2020 15:14,Male,24.0,BCS,year 2,3.00 - 3.49,No,Yes,No,No,No
49,8/7/2020 15:18,Female,24.0,BCS,year 3,3.50 - 4.00,No,No,No,Yes,No
50,8/7/2020 15:27,Female,23.0,ALA,year 1,2.50 - 2.99,Yes,Yes,No,Yes,Yes
55,8/7/2020 15:58,Male,21.0,BCS,year 1,3.00 - 3.49,No,No,No,No,No
56,8/7/2020 16:08,Male,23.0,Kirkhs,Year 3,3.50 - 4.00,No,No,No,No,No
59,8/7/2020 16:34,Female,23.0,Benl,year 1,3.00 - 3.49,No,No,No,No,No
63,8/7/2020 17:37,Female,24.0,engin,year 1,3.50 - 4.00,No,No,No,Yes,No
64,8/7/2020 17:46,Female,24.0,Engine,year 1,3.50 - 4.00,No,No,No,No,No
65,8/7/2020 17:50,Female,23.0,Econs,year 1,3.50 - 4.00,No,Yes,Yes,No,No
69,8/7/2020 19:32,Female,24.0,Kop,year 4,3.00 - 3.49,No,No,Yes,No,No
70,8/7/2020 20:36,Female,24.0,Biomedical science,year 1,3.00 - 3.49,No,No,No,No,No
74,9/7/2020 11:43,Male,24.0,BIT,Year 3,3.50 - 4.00,No,No,Yes,No,No
75,9/7/2020 11:57,Female,24.0,KOE,year 1,3.50 - 4.00,No,No,Yes,Yes,No
76,9/7/2020 13:15,Female,23.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,No,No
80,13/07/2020 10:11:26,Female,24.0,Communication,Year 2,3.50 - 4.00,Yes,Yes,Yes,Yes,No
81,13/07/2020 10:12:18,Female,24.0,Diploma Nursing,year 2,3.50 - 4.00,No,No,No,No,No
84,13/07/2020 10:14:46,Male,23.0,Radiography,year 1,3.00 - 3.49,No,No,No,No,No
88,13/07/2020 11:49:02,Male,24.0,BIT,year 1,3.00 - 3.49,No,No,Yes,No,No
89,13/07/2020 11:54:58,Male,24.0,Engineering,Year 2,2.00 - 2.49,No,No,No,Yes,No
90,13/07/2020 13:57:11,Female,23.0,DIPLOMA TESL,Year 3,3.50 - 4.00,No,No,No,Yes,No
94,13/07/2020 17:30:44,Female,24.0,Fiqh,Year 3,0 - 1.99,No,No,No,Yes,No
96,13/07/2020 19:56:49,Female,21.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
99,13/07/2020 21:23:57,Female,23.0,Pendidikan Islam,year 4,3.50 - 4.00,No,No,No,No,No

In [11]:
data_sorted=data.sort_values(by='What is your CGPA?')
data_sorted

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
94,13/07/2020 17:30:44,Female,24.0,Fiqh,Year 3,0 - 1.99,No,No,No,Yes,No
43,8/7/2020 15:07,Male,NaN,BIT,year 1,0 - 1.99,No,No,No,No,No
73,9/7/2020 6:57,Male,18.0,Biomedical science,year 1,0 - 1.99,No,No,No,No,No
78,13/07/2020 10:07:32,Female,19.0,Biotechnology,Year 3,0 - 1.99,No,No,No,No,No
35,8/7/2020 14:43,Female,18.0,Engineering,year 1,2.00 - 2.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
65,8/7/2020 17:50,Female,23.0,Econs,year 1,3.50 - 4.00,No,Yes,Yes,No,No
19,8/7/2020 13:07,Female,18.0,Marine science,year 2,3.50 - 4.00,Yes,Yes,Yes,Yes,No
26,8/7/2020 13:35,Female,19.0,Engineering,year 1,3.50 - 4.00,No,No,No,No,No
68,8/7/2020 19:05,Female,18.0,Malcom,year 1,3.50 - 4.00,No,Yes,No,No,No
6,8/7/2020 12:32,Female,23.0,Pendidikan islam,year 2,3.50 - 4.00,Yes,Yes,No,Yes,No

In [15]:
import pandas
mydataset={
    'cars':["BMW","Volvo","Ford"],
    'passings':[3,7,2]
}
myvar=pandas.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2