In [14]:
import pandas as pd
import numpy as np
import math
def addition(adder1,adder2):
    return adder1+adder2
d={'Score_math':pd.Series([66,57,78,90,23,45,14]),
'Score_Science':pd.Series([89,90,67,69,56,46,78])}
df=pd.DataFrame(d)
print(df)
print(df.pipe(addition,2))

   Score_math  Score_Science
0          66             89
1          57             90
2          78             67
3          90             69
4          23             56
5          45             46
6          14             78
   Score_math  Score_Science
0          68             91
1          59             92
2          80             69
3          92             71
4          25             58
5          47             48
6          16             80

In [15]:
data={
    'score_math':([23,45,67,89,67,48]),
    'score_science':([24,35,56,87,92,60])
}
df=pd.DataFrame(data)
df

   score_math  score_science
0          23             24
1          45             35
2          67             56
3          89             87
4          67             92
5          48             60

In [17]:
df.apply(np.mean,axis=1)

0    23.5
1    40.0
2    61.5
3    88.0
4    79.5
5    54.0
dtype: float64

In [18]:
df.apply(np.mean,axis=0)

score_math       56.5
score_science    59.0
dtype: float64

In [20]:
import pandas as pd
import numpy as np
import math
df.applymap(lambda x:x*2)

   score_math  score_science
0          46             48
1          90             70
2         134            112
3         178            174
4         134            184
5          96            120