In [8]:
import pandas as pd
data={'Name':['Alice','Bob','Charlie','Alice','Bob','Charli'],
     'Subject':['Math','Math','Math','Science','Science','Science'],
      'Score':[80,56,78,90,88,92]
     }
df=pd.DataFrame(data)
pivot_df=df.pivot(index='Name',columns='Subject',values='Score')
print(pivot_df)

Subject  Math  Science
Name
Alice    80.0     90.0
Bob      56.0     88.0
Charli    NaN     92.0
Charlie  78.0      NaN

In [11]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charli'],
        'Subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science'],
        'Score': [80, 56, 78, 90, 88, 92]}

df = pd.DataFrame(data)
cross_tab=pd.cross_tab(index=df['Name'],columns=df['Subject'],values=df['Score'],aggfunc='mean')
print(cross_tab)

AttributeError: module 'pandas' has no attribute 'cross_tab'

In [12]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charli'],
        'Subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science'],
        'Score': [80, 56, 78, 90, 88, 92]}

df = pd.DataFrame(data)

cross_tab = pd.crosstab(index=df['Name'], columns=df['Subject'], values=df['Score'], aggfunc='mean')
print(cross_tab)

Subject  Math  Science
Name
Alice    80.0     90.0
Bob      56.0     88.0
Charli    NaN     92.0
Charlie  78.0      NaN

In [14]:
data={'Date:['2022-01-01','2022=01=01','2022-01-02','2022-01-02'],
      'City':['A','B','A','B'],
      'Temperature':[25,30,22,28],
      'Humidity':[50,60,45,55]}
df=pd.DataFrame(data)
pivot=df.pivot(index='Date',columns='City',values=['Temperature','Humidity'])
pivot

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3875299394.py, line 1)

In [15]:
import pandas as pd

data = {'Date': ['2022-01-01', '2022-01-01', '2022-01-02', '2022-01-02'],
        'City': ['A', 'B', 'A', 'B'],
        'Temperature': [25, 30, 22, 28],
        'Humidity': [50, 60, 45, 55]}

df = pd.DataFrame(data)
pivot = df.pivot(index='Date', columns='City', values=['Temperature', 'Humidity'])
print(pivot)

           Temperature     Humidity
City                 A   B        A   B
Date
2022-01-01          25  30       50  60
2022-01-02          22  28       45  55

In [21]:
import pandas as pd

data = {'Gender': ['Male', 'Female', 'Male', 'Female'],
        'Department': ['HR', 'IT', 'IT', 'HR'],
        'Salary': [50000, 60000, 55000, 70000]}

df = pd.DataFrame(data)

cross_tab = pd.crosstab(index=df['Gender'], columns=df['Department'], values=df['Salary'], aggfunc='mean')
print(cross_tab)

Department     HR     IT
Gender
Female      70000  60000
Male        50000  55000